/* // ******************************IMPORTS************************** */
@import './header.scss';
@import './keyboard.scss';
@import './user_input.scss';
@import './modal.scss';
@import './home.scss';
@import './navbar.scss';
@import './wordle.scss';

/* // ******************************VARIABLES************************** */
$main-color: #0d1b2a;
$font-color: #e0e1dd;
$btn-color: #1b263b;
$correct-color: rgb(154 255 115 / 66%);
$half-correct-color: rgb(184 161 50 / 66%);
$wrong-color: rgb(249 144 144 / 66%);



* {
    margin: 0;
    padding: 0;
    border: 0;
  }

#wordle-header {
    @include header;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: $main-color;
}
    

main {
    @include wordle-def;
}

.user-input-sec {
    @include input-sec-def;
    @include letter-check;
}
.ur-input {
    @include ur-input-def;

}
.input-row {
    @include rows-def;
}

.keyboard {
    @include keyboard-def;
    @include letter-check;
}
.kbd-btn {
    @include btn-def()

}
#Enter, #Del {
    width: 4rem;
}


.navbar {
    @include navbar-def;
}


.modal-content {
    @include modal-def
}


    
.home {
    @include home-def;
}



