

@mixin home-def {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    #app-header {
        font-size: 12vh;
        color: $font-color;
        font-family: 'Titan One', cursive;
        margin-bottom: 25vh;
    }
}
