

@mixin navbar-def {
    padding-left:  1rem;
    padding-right:  1rem;
    width:  85vw;

    span.navbar-brand {
        padding-right: 0;
    }
    
    .info {
        justify-self: flex-end;
    }
}