// ******************************MINIXS**************************
@mixin wordle-header-def {
    font-family: 'Abril Fatface', cursive;
    font-size: 10vh;
    font-weight: 500;
    color: $font-color;
}